.about-section
{
    width:100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding:20px 15px;

}
.edu-details
{
    
    justify-content: space-between;
    grid-template-columns: repeat(2,100px);
}

@media screen and (max-width:1050px) {
    
}

@media screen and (max-width:450px) {
    
}