
ul
{ 
    list-style: none;
    display: flex;   
}
.header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0.5rem ;
    position: sticky;
    top: 0px;
}

a
{
    font-size: 110%;
    color: var(--txtcolor);
    text-decoration: none;
    padding-left: 3rem;
}
a:hover
{
   color: var(--primary-color);
   font-size: 115%;
}

.nav-icons
{
    font-size: 25px;
    display: none;
}



@media screen and (max-width :450px)
{
    
    .nav-icons
    {
        display: flex;
    }
    .nav-links.active
    { 
        left: 0%;
        top:104%;
        width :100%;
       
        
    }
    .nav-links
    {
     position: absolute;
     left:-102%;
     transition: .2s;
    z-index: 10000;
    }
    ul
    {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }
    .nav-items
    {
        border-bottom: 1.5px solid white;
        padding: 20px 30px;
        
    }
    .header
    {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        z-index: 3;
    }
    .nav-items a
    {
        padding: 3% 40%;
    }
}

